.samazon-login-input {
    border-radius: 2px;
    border: solid 1px #b2b2b2;
    background-color: #ffffff;
}

.samazon-check-label {
    font-family: YuGo;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.samazon-require-input-label {
    border-radius: 1px;
    background-color: #e2001b;
}

.samazon-require-input-label-text {
    font-family: YuGo;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.samazon-submit-button {
    font-family: YuGo;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b2b2b2;
    color: #ffffff;
    background-color: #0fbe9f;
}

.samazon-login-text {
    font-family: YuGo;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0fbe9f;
}

.samazon-header-container {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.samazon-header-search-input {
    border: solid 1px #e5e5e5;
}

.samazon-header-search-button {
    background-color: #0fbe9f;
}

.samazon-header-search-icon {
    color: #ffffff;
}

.samazon-header-fav-icon {
    color: #191919;
}

.samazon-header-shoppingcart-icon {
    color: #ffffff;
}

.user-edit-label {
  cursor: pointer;
  cursor: hand;
}

.samazon-delete-submit-button {
  border-radius: 2px;
  background-color: #d94b0e;
} /*末尾*/

img {
    width: 80%;
    height: 80%;
}

/*================
 PC用のスタイル
=================*/
@media screen and (min-width: 768px) {
   /* PC用カルーセル設定 */
   .carousel {
     width: 885px;
     margin-left: 20px;
   }
 
   .carouselImg {
     width: 885px;
   }
   
  /* 横幅設定 */
  body {
    max-width: 1080px;
    min-width: 900px; /*← bodyの横幅は最小900px*/
    margin: 0 auto 0 auto;
  }

/* ヘッダー */


/* トップページ */
.top_content {
    position: relative;
    border-radius: 50px;
}

.top_content form {/*aタグを画像の真ん中に*/
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.top_content img {
    width: 100%;
    height: 350px;
    padding: 0px 150px;
    margin: 20px 0;
    border-radius: 50px;
    opacity: 0.6;
    filter: brightness(110%);
}

/* 投稿一覧 */
.form_container {
    display: flex;
    flex-wrap: wrap; /* 折り返す */
}

.form_img {
    width: 250px;
    height: 250px;
    margin: 10px;
    background: #000;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 30px;
}

.form_img img {
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    border-radius: 30px;
    object-fit: cover;
    cursor: pointer;
    border: solid 2px #000;
}

.form_img a:hover img {
  opacity: 0.7;
  transform: scale(1.2, 1.2);
}

/* マイページ */
#user_img img {
    width: 130px;
    height: 130px;
    margin: 0 auto;
}

/* 個別の投稿ページ */
.content3 img {
    max-width: 50%;
    max-height: 50%;
}

#lightbox img {
    width: 100%;
    height: 100%;
}

/* マップボックス設定 */
.geocoder {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 800px;
}
.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}
#map {
    margin-top: 75px;
}

}

